Source: python3-traffictoll
Section: net
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends: debhelper (>= 11~), dh-python, python3-setuptools, python3-all
Standards-Version: 3.9.7
Homepage: https://github.com/wasta-linux/python3-traffictoll

Package: python3-traffictoll
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-loguru
Suggests:
Description: Debian package of PyPI traffictoll package.
